body {
    background-color: khaki;
    text-align: center;
    font-family:cursive
    
}


body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float:left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

button {
  background-color: #ade21b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #6e9408;
}
#number {
  font-size: 2rem;
  width: 50px;
  text-align: center;
}
